@font-face {
  font-family: 'Courgette';
  src: url('./fonts/Courgette-Regular.ttf') format('truetype');
}

.App {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(23, 22, 22);
  color: bisque;
  padding: 10px 30px 0px 30px;
}

.main-heading {
  font-family: 'Courgette', cursive;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.heading {
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

.mainImg {
  margin-left: 280px;
  border-radius: 40px;
  margin-bottom: 30px;
}

.sub-cont {
  margin-top: 60px;
  margin-bottom: 40px;
}

.flex-cont {
  display: flex;
  margin-top: 40px;
}

hr {
  width: 1000px;
}

.b-image {
  margin: auto;
}

.b-image img {
  width: 400px;
  margin-right: 40px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.b-image:hover {
  transform: scale(1.1);
}

.year {
  font-weight: bold;
  font-size: larger;
}

.timeline {
  margin-bottom: 30px;
}

button {
  display: flex;
  margin: auto;
  background-color: rgb(250, 76, 76);
  border-radius: 10px;
  width: 110px;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  align-items: center;
  text-align: center;
  padding-left: 10px;
}

button:hover {
  transform: scale(0.9);
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.icon-div {
  margin: auto;
}

.icons {
  color: beige;
  font-size: 70px;
  margin: 30px;
}